<html style="overflow-x:hidden;">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/htmls; charset=utf-8" />
    <meta http-equiv="content-type" content="text/html; charset=iso-8859-9" />
    <meta http-equiv="content-type" content="text/html; charset=windows-1254" />
    <meta http-equiv="content-type" content="text/html; charset=x-mac-turkish" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Language" content="TR" />
    <title>DemansApp</title>
    <link rel="shortcut icon" href="~/assets/images/demans_logo_sm.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <!-- jvectormap -->
    <link href="~/plugins/jvectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet">

    <!-- App css -->
    <!-- App css -->

    <link href="~/plugins/datatables/datatable2/datatables-1.13.4/css/jquery.datatables.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/assets/css/icons.min.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/css/metisMenu.min.css" />
    <link rel="stylesheet" type="text/css" href="~/plugins/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/css/app.min.css" />
    <link rel="stylesheet" type="text/css" href="~/plugins/datatables/dataTables.bootstrap5.min.css" />
    <link rel="stylesheet" type="text/css" href="~/plugins/datatables/buttons.bootstrap5.min.css" />
    <link rel="stylesheet" type="text/css" href="~/plugins/sweet-alert2/sweetalert2.min.css" />
    <link href="~/plugins/datatables/datatable2/responsive-2.4.1/css/responsive.datatables.css" rel="stylesheet" />
    <link href="~/plugins/datatables/datatable2/responsive-2.4.1/css/responsive.datatables.min.css" rel="stylesheet" />
    <link href="~/plugins/datatables/datatable2/responsive-2.4.1/css/responsive.bootstrap5.css" rel="stylesheet" />
    <link href="~/plugins/datatables/datatable2/responsive-2.4.1/css/responsive.bootstrap5.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/assets/css/app.min.css" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Select2/css/select2.css" />
    
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap.min.css" />
    <style type="text/css">
        * {
            vertical-align: middle !important;
        }

        .authority_label_style {
            font-weight: 800 !important;
        }

        .card {
            margin-left: 5px !important;
            margin-right: 5px !important;
        }

        .card-top {
            margin-top: 120px !important;
        }

        .page-title {
            font-size: 30px;
            text-align: left !important;
            padding-top: 0.25rem !important;
        }

        .details-control {
            width: 15px !important;
        }

        #parsley-id-password {
            display: none;
        }

        .ozel_islem {
            margin-left: 20px;
            font-weight: 400 !important;
        }

        label {
            font-weight: 700;
        }


        .b-6wedejzdwa {
            display: flex !important
        }

        @@media only screen and (max-width: 1024px) {
            .navbar-style {
                padding-left: 140px;
            }
        }

        .demans_logo{
            height: 36px !important;
            margin-top: 10px !important;
        }

        .nav-style{
            margin-top: 15px !important;
        }

        .page-item.active .page-link{
            background-color: #ED5E31 !important;
            border-color: #ED5E31 !important;
        }
    </style>


    @RenderSection("css", required:false);
</head>

<body class="dark-sidenav">

    <!-- Left Sidenav -->
    <div class="left-sidenav">
        <!-- LOGO -->
        <div class="brand">
         

            <a href="@Url.Action("Index", "A_Users")" class="logo">
                <span>
                    <img src="~/assets/images/demans_logo.png" alt="logo-small" class="logo-sm demans_logo">
                </span>
            </a>
        </div>
        <!--end logo-->
        <div class="menu-content h-100" data-simplebar>
            <ul class="metismenu left-sidenav-menu">
                <li class="menu-label mt-0">ANA MENÜ</li>
                <li>
                    <a href=@Url.Action("Index", "A_Users")> <i data-feather="user" class="align-self-center menu-icon"></i><span>Kullanıcı Bilgileri</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>

                </li>
                <li>
                    <a href=@Url.Action("Index", "A_AudioBooks")> <i data-feather="book-open" class="align-self-center menu-icon"></i><span>Sesli Kitap</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>

                </li>
                <li>
                    <a href=@Url.Action("Index", "A_Commands")> <i data-feather="command" class="align-self-center menu-icon"></i><span>Komutlar</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>

                </li>
                <li>
                    <a href=@Url.Action("Index", "A_Companions")> <i data-feather="user" class="align-self-center menu-icon"></i><span>Refakatçı Bilgileri</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>

                </li>
                <li>
                    <a href=@Url.Action("Index", "A_LocationInformation")> <i data-feather="map" class="align-self-center menu-icon"></i><span>Konum Bilgileri</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>

                </li>
                <li>
                    <a href=@Url.Action("Index", "A_Medicines")> <i data-feather="feather" class="align-self-center menu-icon"></i><span>İlaçlar</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>

                </li>
                <li>
                    <a href=@Url.Action("Index", "A_MotivationSentences")> <i data-feather="smile" class="align-self-center menu-icon"></i><span>Motivasyon Cümleleri</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>

                </li>
                <li>
                    <a href=@Url.Action("Index", "A_Pictures")> <i data-feather="image" class="align-self-center menu-icon"></i><span>Resimler</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>

                </li>
                <li>
                    <a href=@Url.Action("Index", "A_TracesOfLove")> <i data-feather="heart" class="align-self-center menu-icon"></i><span>Sevgi İzi</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>

                </li>
                <li class="menu-item" style="position: fixed; bottom: 30px;">
                    <a href="@Url.Action("LogOut","Login")" class="menu-link btn-danger" style="border-radius: 2px !important;color: white;width: 200px;height: 35px;">
                        <i class='bx bx-exit' style="font-size: x-large;"></i>
                        <div style="padding-left: 45px;">Çıkış Yap</div>
                    </a>
                </li>
            </ul>

        </div>
    </div>
    <!-- end left-sidenav-->


    <div class="page-wrapper">
        <!-- Top Bar Start -->
        <div class="topbar">
            <!-- Navbar -->
            <nav class="navbar-custom">
             
                <ul class="list-unstyled topbar-nav mb-0">
                    <li>
                        <button class="nav-link button-menu-mobile nav-style">
                            <i data-feather="menu" class="align-self-center topbar-icon"></i>
                        </button>
                    </li>
                  
                </ul>
            </nav>
            <!-- end navbar-->
        </div>
        <!-- Top Bar End -->
        <!-- Page Content-->
        <div>
            <main role="main" class="" style="width: 100% !important; position: unset;">
                @RenderBody()
            </main>
        </div>
    </div>

   
    <!-- end page-wrapper -->
    <!-- jQuery  -->

    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/metismenu.min.js"></script>
    <script src="~/assets/js/waves.js"></script>
    <script src="~/assets/js/feather.min.js"></script>
    <script src="~/assets/js/simplebar.min.js"></script>
    <script src="~/assets/js/moment.js"></script>
    <script src="~/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="~/assets/pages/jquery.sweet-alert.init.js"></script>
    <script src="~/plugins/sweet-alert2/sweetalert2.min.js"></script>
    <script src="~/assets/pages/jquery.sweet-alert.init.js"></script>
     <script src="~/Select2/js/select2.js"></script>

    @*<script src="~/plugins/apex-charts/apexcharts.min.js"></script>*@
    <script src="~/plugins/jvectormap/jquery-jvectormap-2.0.2.min.js"></script>
    <script src="~/plugins/jvectormap/jquery-jvectormap-us-aea-en.js"></script>

    <script src="~/plugins/datatables/datatable2/datatables-1.13.4/js/jquery.datatables.min.js"></script>
    <script src="~/plugins/datatables/dataTables.bootstrap5.min.js"></script>
    <script src="~/plugins/datatables/datatable2/responsive-2.4.1/js/datatables.responsive.js"></script>
    <script src="~/plugins/datatables/datatable2/responsive-2.4.1/js/datatables.responsive.min.js"></script>
    <script src="~/plugins/datatables/datatable2/responsive-2.4.1/js/responsive.bootstrap5.js"></script>
    <script src="~/plugins/datatables/datatable2/responsive-2.4.1/js/responsive.bootstrap5.min.js"></script>
    <!-- App js -->
    <script src="~/assets/js/app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>



    <footer class="footer text-center text-sm-start">
        &copy; <script>
                   document.write(new Date().getFullYear())
        </script><span class="text-muted d-none d-sm-inline-block float-end">
            DEMANSAPP <i class="mdi mdi-heart text-danger"></i>
        </span>
    </footer><!--end footer-->
    @RenderSection("scripts", required: false)

</body>

</html>